h3
	| Este movimiento es un proyecto colaborativo que necesita de diferentes contribuciones, 
	| tú puedes ayudar a través de las redes sociales.
span Puedes utilizar Facebook para brindarnos cualquier información.
ul
	li <b>Videos</b>
	br
	li <b>Artículos</b>
	br
	li <b>Imágenes</b>
	br
	li <b>Ideas</b> Subiendo un video a Youtube.
	br
	li <b>Difusión</b> Compartiendo la página y platicando de los ideales.
	
h3 Para Desarrolladores

p
	| La página es libre igual que su contenido y su código, si quieres aportar al desarrollo 
	| de herramientas o te gustaría usar el código visita nuestro 
	| <a href="https://github.com/ilrt-mx/ilrt-website" target="_blank">GitHub.</a>