h3 ILRT (Información, Libertad, Revolución, Transformación)

p Somos un movimiento que NO apoya a partidos políticos y que busca:
	
ul
	li Cultivar valores e ideales.
	br
	li Difundir información que no revelan los monopolios de comunicación mexicanos.
	br
	li Incentivar a los mexicanos a cuestionar nuestra democracia.