body
	#github
		a(href="https://github.com/ilrt-mx/ilrt-website", target="_blank")
			img(src="/images/github.png")
	#videoplayer-wraper
		#videoplayer-bg
			#videoplayer
				<!-- #vptitle Title -->
				#vp-close X
				.clear-float
				#vpembed Necesitas Flash Player 8+ :(
	#wraper
		#header
			a(href="http://www.facebook.com/pages/ILRT-Informaci%C3%B3n-Libertad-Revoluci%C3%B3n-Transformaci%C3%B3n/262846937155214?skip_nax_wizard=true")#facebook
				img(src="/images/facebook.png")
			a(href="http://twitter.com/ILRTmx")#twitter
				img(src="/images/twitter.png")
		#sidebarvideos-wraper
			#random-videos-bar
		#content
			ul#menu
				li#menu-first Principal
				li#menu-ideals Ideales
				li#menu-videos Videos
				li#menu-information +Información
				li#menu-contribution Cómo Aportar
				li#menu-login <a href="/login">Login</a>
				.clear-float
			#inner
		#videosbg
	#line-wraper
		#fistbg
		#linebg
		