h1 ILRT

h2 Información

span ¿Cuál es la diferencia entre hace 70 años y hoy? Tecnología y la capacidad de <b>comunicarnos</b> por medios no manipulados.

h2 Libertad

span La información nos acerca a la <b>verdad</b> y la verdad nos hará libres.

h2 Revolución

span Sólo un pueblo libre e informado puede revolucionar su <b>presente</b>.

h2 Transformación

span Sólo una revolución <b>pacífica</b> logra <b>cambios</b> verdaderos.