html
  head
    meta(http-equiv="Content-Type", content="text/html;  charset=UTF-8")
    title= title
    block links
      link(rel="icon", type="image/ico", href="images/favicon.ico")
      link(rel="stylesheet", type="text/css", href="style/main.css", charset="utf-8")
      link(rel="stylesheet", type="text/css", href="style/home.css", charset="utf-8")
    block scripts
      script(src='http://ajax.googleapis.com/ajax/libs/swfobject/2/swfobject.js')
      script(src='javascript/jquery.js')
      script(src='javascript/jquery-ui.js')
      script(src='javascript/animatecolors.js')
      script(src='nowjs/now.js')
      script(src='javascript/gui.js')
  body!= body