link(rel="stylesheet", type="text/css", href="style/login.css", charset="utf-8")
#auth_wraper
	h3= title
	#auth_inputs
		input(type="text", id="auth_email", value="Email")
		input(type="password", id="auth_passw", value="password")
	#auth_logindiv 
		button#auth_button Entrar
	.clear-float
	#auth_logo
		img(src="images/logo.png")